<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
		try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>

    <ul class="breadcrumb">
        @Html.MvcSiteMap().SiteMapPath()

    </ul>

</div>
