<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="System" xsi:type="File"
        layout="${longdate} - ${level} - ${logger} - ${message}"
        encoding ="UTF-8"    
        fileName="${basedir}/logs/${date:format=yyyyMMdd}System.log"
        keepFileOpen="false"/>
  
  </targets>

  <rules>
    
    <logger name="System" minlevel="Debug" writeTo="System" />

  </rules>
</nlog>
